extends layout

block content
  .home.clearfix

    .main
      h2 Quizzes
      ul.quizzes
        each quiz in quizzes
          li(id='quiz-' + quiz.id)
            a(href= '/quiz/' + quiz.id)
              span(class='status ' + quiz.status)= quiz.status === 'inactive' ? 'off air' : quiz.status === 'active' ? 'now playing' : 'coming soon'
              span.title= quiz.name
              i.total= '(' + quiz.questions.length + ')'

    .related
      h2 Players
      ul.people
        each person in people
          li
            a(href= '/person/' + person._id)= person.name
            .points= person.points + ' pts'

block scripts

  script(type='text/javascript')

    var socket = io.connect();

    socket.emit('lobby', {
      user: { name: 'guest', image: '' }
    , body: 'has entered the lobby.'
    , type: 'join'
    });

    socket.on('status', function(data){
      console.log('status', JSON.stringify(data));

      if ( data.quiz ) {
        var quiz = $('#quiz-' + data.quiz);

        switch (data.type) {
          case 'play':
            quiz.attr('class', 'active');
            quiz.find('.status').attr('class', 'status active').html('now playing');
            break;
          case 'pause':
            quiz.attr('class', 'inactive');
            quiz.find('.status').attr('class', 'status inactive').html('off air');
            break;
        }
      }
    });
